.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: black;
    background-color: whitesmoke;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

nav {
    display: flex;
    flex-direction: row;
    background-color: #61dafb;
    padding: 1%;
}

nav ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

nav li {
    display: inline;
}

nav a {
    margin-left: 5%;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

nav a:hover {
    color: gainsboro;
    opacity: 0.8;
}

p {
    margin: 0;
    padding-left: 3%;
    padding-right: 3%;
    text-indent: 2em;
    text-align: left;
}

.loginForm {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 0 auto;
}

.loginForm input[type="submit"] {
    background-color: #61dafb;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 1em;
}

.loginForm input {
    box-shadow: 1px 2px 3px rgba(0, 0, 0.5);
}

.loginForm h2 {
    margin: 0;
}

label {
    text-align: left;
}

input[type="submit"]:hover {
    opacity: 0.8;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.error {
    color: red;
    font-weight: 600;
    background-color: white;
}

.offScreen {
    display: none;
}

.loginMsg,
.registerMsg {
    margin: 0;
}

.logout {
    background-color: white;
    padding: 3%;
    border-radius: 0.5em;
}